* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ol, ul {
    list-style: none;
}
del {
    text-decoration: line-through;
}
body {
    font-family: "GT-Eesti",Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #1c2c40;
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 400;

}
input,textarea,select {
    font-family: "GT-Eesti",Arial, Helvetica, sans-serif;
    font-weight: 400;
}

a {
    color: #1c2c40;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);}
p {
    line-height: 1.6em;
    font-size: 16px;
    font-family: "GT-Eesti",Arial;
    font-weight: 400;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1040px;
}
header {
	height: 170px;
	display: flex;
	justify-content: space-between;
	background: #fff;
	width: 100%;
	padding: 0 32px;
	align-items: center;
	position: relative;
	z-index: 1;
}
header section.header-wrapper {
	max-width: 1400px;
	margin: 0 auto;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
header div.left {
	display: flex;
}

header div.left a {
	display: block;
}
header div.left a img {
	display: block;
}
header div.left ul {
	display: flex;
	align-items: center;
    margin-left: 60px;
}
header div.left ul li {
	margin-right: 40px;
}header div.left ul li:hover{
	margin-right: 40px;
    color: cadetblue;

}
header div.left ul li:last-child {
	margin-right: 0;
}
header div.left ul li a {
	font-size: 20px;
}
.form { 
    background: #4c5f63;
    position: absolute;
    height: 94px;
    width: 361px;
    top: 250px;
    color: #fff;
    display: none;
    right: 780px;
    padding: 12px 10px 100px 10px;
    border-radius: 20px;
    text-align: center;
}
.form h1 {
    font-size: 25px;
    color: #000;
}
.form form { 

}

.form form label { 
    color: #000;
}

.form form input { 
    color: #000;
    border: 1px solid #fff;
    border-radius: 4px;
}
.form form input.btn {
    background-color: #fff;
    width: 55px;
    height: 20px;
    margin-top: 4px;
}
header div.right {
	
}
header div.right form {

}
header div.right form input {
    margin-right: 40px;
    border: #1c2c40 solid 1px;
    padding: 15px 15px 15px 30px;
    border-radius: 30px;
}
header div.right form button img {
    width: 25px;
    position: relative;
    top: 10px;
}

#spotlight {
	background: url(../images/bg.jpg) no-repeat;
    background-size: 100%;
	z-index: 1;
    height: 82.4vh;
}
#spotlight section.wrapper{
	width: 60%;
	padding-top: 105px;

}
#spotlight section.wrapper h1 {
	font-size: 53px;
	margin-bottom: 20px;
	font-weight: 700;
    color: #fff;
}
#spotlight section.wrapper p {
	margin-bottom: 40px;
	font-size: 20px;
	width: 80%;
    color: #fff;
}
#spotlight section.wrapper a.button {
	padding: 24px 32px;
	border-radius: 35px;
	display: inline-block;
	margin-bottom: 20px;
    background: palegreen;
	color: #fff;
	font-size: 18px;
}
#spotlight section.wrapper div {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
    font-size: 23px;
    font-weight: 600;
    color: #fff;
}
#spotlight section.wrapper div img {
	width: 35px;
    margin-left: 15px;
}
